.marqueeTxt{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: -1;
}


.marquee1{
  font-size: 14rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
}
.marquee2{
  font-size: 14rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
}

.start{
  padding: 10px 20px;
  border-radius: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  transition: 0.3s ease;
}

.showtext{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  font-size: 3rem;
  color: #fff;
  transition: 0.3s ease;
}

.score{
  position: absolute;
  right:40px;
  bottom:20px;
  font-size: 5rem;
  color: #fff;
  transform: translate(-50%,-50%);
}

.start:active{
  background: #000;
  color: #fff;
}